.skills {
    margin-top: -5rem !important;
    margin-bottom: -5rem !important;
}

.headline__title {
    font-size: 4rem;
}

.about-descr__text,
.h2__text {
    text-align: justify;
    font-size: 2rem;

}

.logo__caption>p {
    font-size: 2.5rem;
    text-align: center !important;
}

.resume-lines__descr {
    text-align: justify;
}

.extra-padding {
    margin-top: 10rem;
}

@media only screen and (min-width: 768px) {
    .extra-padding {
        margin-top: 4rem;
    }
}

@media only screen and (min-width: 992px) {
    .extra-padding {
        margin-top: 6rem;
    }
}

@media only screen and (min-width: 1200px) {
    .extra-padding {
        margin-top: 8rem;
    }
}

@media only screen and (min-width: 1400px) {
    .extra-padding {
        margin-top: 10rem;
    }
}

@media only screen and (min-width: 1600px) {
    .extra-padding {
        margin-top: 10rem;
    }
}

.alert {
    padding: 15px;
    border: 1px solid transparent;
    border-radius: 4px;
    margin-bottom: 20px;
  }
  
  .alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
  }
  
  .alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
  }
  